<div class="row">
  <hr />
  <div class="col-sm-12">
    <%= render "devise/shared/sns" -%>
  </div>

  <div class="col-sm-12">
    <%= devise_error_messages! %>
    <div class="panel panel-default">
      <div class="panel-heading"><a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse">アカウントを登録する</a></div>
      <div id="collapse" class="panel-collapse collapse in">
	<div class="panel-body">
	  <div class="col-sm-8 col-sm-offset-2">
	    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	      <div class="form-group">
		<%= f.label :email %>
		<%= f.email_field :email, :autofocus => true, class: "form-control" %>
	      </div>
	      <div class="form-group">
		<%= f.label "パスワード" %>
		<%= f.password_field :password, class: "form-control" %>
	      </div>
	      <div class="form-group">
		<%= f.label "パスワードの確認" %>
		<%= f.password_field :password_confirmation, class: "form-control" %>
	      </div>
	      <div class="form-group">
		会員登録をいただく場合はこちらの<%= link_to About.first.title, about_path(About.first) %>に同意したものとみなされます。
	      </div>
	      <%= f.submit "会員登録", class:"btn btn-default" %>
	    <% end %>
	    <%= render "devise/shared/links" %>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
