<div class="page-header">
  <h3>Comment</h3>
</div>
<% @thing.comments.each do |comment| -%>
  <p><%= comment.user.name -%></p>
  <p><%= simple_format comment.content -%></p>
<% end -%>

<%= simple_form_for([@thing, @thing.comments.build]) do |f| %>
  <%= f.input :content %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit %>
    </div>
  </div>
<% end -%>
