<div class="list-group-item">
  <%= link_to aff_link(item[:url]) ,class: "thumbnail", target: "_blank" do -%>
    <%= image_tag item[:image] -%>
  <% end -%>
  <center>
    <div class="price" style="color: red">
      <%= fa_icon "jpy", text: "#{item[:price]} 円" -%>
    </div>
    <div class="wordwrap"><%= item[:title] -%></div>
    <div class="more">
      <%= link_to aff_link(item[:url]), target: "_blank" do -%>
	<%= fa_icon "hand-o-right", text: "商品詳細" -%>
      <% end %>
    </div>
    <div class="review">
      <% if item[:ec_site] == "Amazon" -%>
	<%= link_to aff_link(item[:url]), target: "_blank" do -%>
	  <%= fa_icon "comment-o", text: "Amazonレビュー" -%>
	<% end %>
      <% elsif item[:ec_site] == "Rakuten" %>
	<%= link_to aff_link(item[:url]), target: "_blank" do -%>
	  <%= fa_icon "comment-o", text: "楽天レビュー" -%>
	<% end %>
       <% else %>
	<%= link_to aff_link(item[:url]), target: "_blank" do -%>
	  <%= fa_icon "comment-o", text: "商品レビュー" -%>
	<% end %>
      <% end -%>
      <br />
    </div>
  </center>
</div>
