<div class="row">
  <div class="pull-left col-sm-4 col-xs-12">
    <%= link_to aff_link(item[:url]), class: "thumbnail", target: "_blank" do -%>
      <%= image_tag item[:image] -%>
    <% end -%>
  </div>
  <div class="pull-right col-sm-2 col-xs-12">
    <div class="price" style="color: red">
      <%= fa_icon "jpy", text: "#{item[:price]} 円" -%>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12">
    <div class="item-publisher">
      <p><%= link_to item[:publisher], aff_link(item[:url]), target: "_blank" -%></p>
    </div>
    <div class="item-title">
      <p><div class="wordwrap"><%= item[:title] -%></div></p>
    </div>
    <div class="link">
      <%= link_to aff_link(item[:url]), target: "_blank" do -%>
	<%= fa_icon "hand-o-right", text: "商品詳細" -%>
      <% end %>
      <% if item[:ec_site] == "amazon" -%>
	<%= link_to aff_link(item[:url]), target: "_blank" do -%>
	  <%= fa_icon "comment-o", text: "Amazonレビュー" -%>
	<% end %>
      <% elsif item[:ec_site] == "rakuten" %>
	<%= link_to aff_link(item[:url]), target: "_blank" do -%>
	  <%= fa_icon "comment-o", text: "楽天レビュー" -%>
	<% end %>
      <% else %>
	<%= link_to aff_link(item[:url]), target: "_blank" do -%>
	  <%= fa_icon "comment-o", text: "商品レビュー" -%>
	<% end %>
      <% end -%>
    </div>
  </div>
</div>

<hr class="hr-point">
