<div class="panel panel-info">
  <div class="panel-heading">
    <%= fa_icon "thumbs-o-up", text: "お得な買い物方法" -%>
  </div>
  <div class="panel-body">
    <% if keyword.blank? -%>
      楽天で購入するなら楽天カードがお勧め！ポイント2倍＆2000ポイントGET！
      <%= link_to "詳細", aff_link("http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3114519&pid=882508658"), target: "_blank" -%>
      <br />
    <% else %>
      <b><font color="red"><%= search_engine_keyword ? search_engine_keyword : keyword %></font></b>購入するなら楽天カードがお勧め！ポイント2倍＆2000ポイントGET！
      <%= link_to "詳細", aff_link("http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3114519&pid=882508658"), target: "_blank" -%>
      <br />
    <% end %>
    <div class="text-center">
      <%= link_to aff_link("http://ck.jp.ap.valuecommerce.com/servlet/referral?sid=3114519&pid=882508536"), target: "_blank" do -%>
	<%= image_tag "http://ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3114519&pid=882508536", :alt => "sponsor", :size => "125x125" -%>
      <% end -%>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <%= fa_icon "thumbs-o-up", text: "これにも注目" -%>
  </div>
  <div class="panel-body">
    <div class="row media suggestion">
      <div class="media-body">
	<% suggestions.each do |thing| -%>
	  <% if thing.images.size > 0 -%>
	    <div class="col-xs-4">
	      <%= link_to thing_path(thing), target: "_blank" do image_tag thing.images.first.thumb_url, alt: thing.name, class: "img-thumbnail" end -%>
	    </div>
	  <% end -%>
	<% end -%>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <%= fa_icon "comments", text: "新着クチコミ・レビュー" -%>
  </div>
  <div class="panel-body">
    <% new_comments.each do |comment| -%>
      <div class="media">
	<div class="media-body">
	  <div class="pull-right col-xs-5">
	    <%= link_to_thing_small_img comment.thing -%>
	  </div>
	  <h5><%= link_to_comment_user_page comment -%>さん：</h5>
	  <%= sanitize comment.short_content -%>
	</div>
      </div>
      <hr class="hr-point">
    <% end %>
  </div>
</div>
