<%= simple_form_for(@thing) do |f| %>
  <%= f.input :name %>
  <%= f.simple_fields_for :images do |image| %>
    <%= image.input :file, label: 'Image' %>
  <% end %>
  <%= f.input :summary %>
  <%= f.input :introduction %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
