<%= title "#{@thing.name} - #{@thing.summary} - kooleye" -%>

<div class="col-xs-12">
  <div class="page-header">
    <center><h1><%= @thing.name -%> <small><%= @thing.summary -%></small></h1></center>
  </div>
</div>

<div class="col-xs-12 col-md-9">
  <div id="carousel-thing" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @thing.images.each_with_index do |image, index| -%>
	<% if index == 0 -%>
	  <li data-target="#carousel-thing" data-slide-to="<%= index -%>" class="active"></li>
	<% else -%>
	  <li data-target="#carousel-thing" data-slide-to="<%= index -%>"></li>
	<% end -%>
      <% end -%>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @thing.images.each_with_index do |image, index| -%>
	<% if image.file? %>
	  <% if index == 0 -%>
	    <div class="item active">
	      <%= image_tag image.url, alt: "#{@thing.summary}", class: "img-responsive" %>
	    </div>
	  <% else -%>
	    <div class="item">
	      <%= image_tag image.url, alt: "#{@thing.name} #{index}", class: "img-responsive" %>
	    </div>
	  <% end -%>
	<% end %>
      <% end -%>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-thing" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-thing" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <hr />

  <% if @thing.images.size > 1 -%>
    <div class="row images-thumb">
      <% @thing.images.each_with_index do |image, index| -%>
	<div class="hidden-xs col-sm-2">
	  <%= image_tag image.thumb_url, class: "img-thumbnail", onclick: "$('.carousel').carousel(#{index});", style: "cursor: pointer;" %>
	</div>
      <% end -%>
    </div>
    <hr class="hidden-xs">
  <% end -%>

  <% if @thing.has_video? -%>
    <%= video_embed_code @thing -%>
    <hr />
  <% end -%>

  <p><%= sanitize @thing.introduction -%></p>
  <div class="fb-like" data-href="<%= thing_url @thing %>" data-layout="button_count" data-action="recommend" data-show-faces="true" data-share="true"></div>

  <div id="comments">
    <%= render template: "comments/index", locals: {thing: @thing} -%>
  </div>
  <br />
</div>

<%= render "sidebar", thing: @thing -%>


