<div class="page-header">
  <h1><%= @thing.name -%> <small><%= @thing.summary -%></small></h1>
</div>

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  <div id="carousel-thing" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @thing.images.each_with_index do |image, index| -%>
	<% if index == 0 -%>
	  <li data-target="#carousel-thing" data-slide-to="<%= index -%>" class="active"></li>
	<% else -%>
	  <li data-target="#carousel-thing" data-slide-to="<%= index -%>"></li>
	<% end -%>
      <% end -%>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @thing.images.each_with_index do |image, index| -%>
	<% if image.file? %>
	  <% if index == 0 -%>
	    <div class="item active">
	      <%= image_tag image.file.url %>
	    </div>
	  <% else -%>
	    <div class="item">
	      <%= image_tag image.file.url %>
	    </div>
	  <% end -%>
	<% end %>
      <% end -%>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-thing" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-thing" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <hr />

  <div class="row">
    <% @thing.images.each_with_index do |image, index| -%>
      <% if image.file? %>
	<div class="col-sm-3 col-md-3">
	  <a href="#" class="thumbnail" onclick="$('.carousel').carousel(<%= index -%>);">
	    <%= image_tag image.file.url %>
	  </a>
	</div>
      <% end %>
    <% end -%>
  </div>

  <%= @thing.introduction -%>

</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

</div>


