<div class="page-header">
  <center><h1><%= @thing.name -%> <small><%= @thing.summary -%></small></h1></center>
</div>

<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  <div id="carousel-thing" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% @thing.images.each_with_index do |image, index| -%>
	<% if index == 0 -%>
	  <li data-target="#carousel-thing" data-slide-to="<%= index -%>" class="active"></li>
	<% else -%>
	  <li data-target="#carousel-thing" data-slide-to="<%= index -%>"></li>
	<% end -%>
      <% end -%>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <% @thing.images.each_with_index do |image, index| -%>
	<% if image.file? %>
	  <% if index == 0 -%>
	    <div class="item active">
	      <%= image_tag image.file.url, class: "img-responsive" %>
	    </div>
	  <% else -%>
	    <div class="item">
	      <%= image_tag image.file.url, class: "img-responsive" %>
	    </div>
	  <% end -%>
	<% end %>
      <% end -%>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-thing" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-thing" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <hr />

  <div class="row">
    <% @thing.images.each_with_index do |image, index| -%>
      <% if image.file? %>
	<div class="col-sm-3 col-md-3">
	  <div class="thumbnail">
	    <%= image_tag image.file.thumb.url, onclick: "$('.carousel').carousel(#{index});", style: "cursor: pointer;" %>
	  </div>
	</div>
      <% end %>
    <% end -%>
  </div>

  <hr />

  <p><%= @thing.introduction -%></p>

  <div class="video-container">
    <%= content_tag :iframe, '', src: @thing.video, frameborder: "0", width: "560", height: "315" -%>
  </div>

  <hr />


</div>

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to "購入する", "#", class: "btn btn-primary btn-lg btn-block" -%>
      <hr />

      <ul class="list-unstyled">
	<li>
	  <%= link_to "#" do fa_stacked_icon "heart-o", base: "square-o", text: "1人が好き", class: "fa-lg" end -%>
	</li>
	<li>
	  <%= link_to "#" do fa_stacked_icon "flag-o", base: "square-o", text: "1人が所有している", class: "fa-lg" end -%>
	</li>
	<li>
	  <%= link_to "#" do fa_stacked_icon "facebook", base: "square-o", text: "Facebookで共有する", class: "fa-lg" end -%>
	</li>
	<li>
	  <%= link_to "#" do fa_stacked_icon "twitter", base: "square-o", text: "Twitterで共有する", class: "fa-lg" end -%>
	</li>
      </ul>
      <hr />

      User
    </div>
  </div>
</div>


