<% if user_signed_in? -%>
  <div class="panel panel-info">
    <div class="panel-heading">
      <%= link_to user_page_path(current_user) do %>
	<%= fa_icon "user", text: "マイページ" -%>
      <% end -%>
    </div>
    <div class="panel-body">
      <%= t('view.user.like_num') %>

      <% if (likes = current_user.votes_by(:like)).count > 0 -%>
	<%= link_to likes.count, user_page_path(current_user) -%>
      <% else -%>
	<%= fa_icon "exclamation-circle", style: "color: red;" %>
	<%= t('view.user.no_like') -%>
      <% end -%>

      <br />
      <%= t('view.user.have_num') %>

      <% if (haves = current_user.votes_by(:have)).count > 0 -%>
	<%= link_to haves.count, user_page_path(current_user) -%>
      <% else -%>
	<%= fa_icon "exclamation-circle", style: "color: red;" %>
	<%= t('view.user.no_have') %>
      <% end %>
    </div>
  </div>
<% end %>
