<div class="col-xs-12 visible-xs">
  <ul class="nav nav-pills">
    <li class="active"><a href="/">Home</a></li>
    <li><%= link_to "投票順", things_path + "?sort=hot" %></li>
    <li><%= link_to "新着順", things_path %></li>
  </ul>
  <br />
</div>

<div class="col-xs-12 col-md-8">
  <%= render 'center' %>
</div>
<div class="col-xs-12 col-md-4">
  <%= render 'shared/new_event' -%>
  <%= render 'user_votes' -%>
  <%= render 'sider' %>
</div>
