<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= content_for?(:title) ? content_for(:title) : "Kooleye - クールアイ - 素敵な物の発見と共有" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=657727027595422";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kooleye.com</a>
	</div>
	<div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
	    <li><%= link_to "投票順", things_path + "?sort=hot" %></li>
	    <li><%= link_to "新着順", things_path %></li>
	    <li class="hidden-xs">
	      <%= link_to "アイテムの追加", new_thing_path -%>
	    </li>
          </ul>
	  <ul class="nav navbar-nav navbar-right">
	    <% if user_signed_in? -%>
              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name || current_user.email -%><b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li><%= link_to 'Edit', edit_user_registration_path %></li>
		  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
		</ul>
              </li>
	    <% else -%>
              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('shared.login') -%><b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li><%= link_to user_omniauth_authorize_path(:google_oauth2), id: "google-login" do fa_icon "google-plus-square", text: "| Connect with Google" end %> </li>
		  <li><%= link_to user_omniauth_authorize_path(:facebook), id: "facebook-login" do fa_icon "facebook-square", text: "| Connect with Facebook" end %> </li>
		  <li><%= link_to user_omniauth_authorize_path(:twitter), id: "twitter-login" do fa_icon "twitter", text: "| Connect with Twitter" end %> </li>
		  <li><%= link_to new_user_session_path do fa_icon "shield", text: "| Sign in with Kooleye ID" end %> </li>
		</ul>
              </li>
	    <% end -%>
          </ul>
	</div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <!-- Modal -->
    <%= render 'shared/login_modal' -%>

    <div class="container">
      <div class="row">
	<div class="col-xs-12 text-center">
	  <a href="https://twitter.com/kooleyecom" class="twitter-follow-button" data-show-count="false">Follow @kooleyecom</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>&nbsp;&nbsp;
	  <a href="http://b.hatena.ne.jp/entry/https://www.kooleye.com" class="hatena-bookmark-button" data-hatena-bookmark-title="Kooleye" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.hatena.ne.jp/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.hatena.ne.jp/js/bookmark_button.js" charset="utf-8" async="async"></script>&nbsp;&nbsp;
	  <div class="g-plusone" data-size="medium" data-href="https://www.kooleye.com"></div>
	  <script type="text/javascript">
	    window.___gcfg = {lang: 'ja'};

	    (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/platform.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	    })();
	  </script>
	  <div class="fb-like" data-href="https://www.facebook.com/kooleyecom" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
	</div>

	<%= yield %>
      </div><!--/row-->
      <hr>
      <footer>
	<p>
	  &copy; kooleye.com 2013 
	  <% About.all.each do |about| -%>
	    <small><%= link_to about.title, about_path(about) -%></small>
	  <% end -%>
	</p>
      </footer>
    </div><!--/.container-->
    <script type="text/javascript">
      (function () {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=0OC6rTW";
      s.parentNode.insertBefore(tagjs, s);
      }());
    </script>
    <noscript>
      <iframe src="//b.yjtag.jp/iframe?c=0OC6rTW" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </noscript>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45970328-1', 'kooleye.com');
    ga('send', 'pageview');
  </script>
  </body>
</html>
