<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag 'favicon.ico' %>

    <title><%= content_for?(:title) ? content_for(:title) : "Kooleye - クールアイ - 素敵な物の発見と共有" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45970328-1', 'kooleye.com');
    ga('send', 'pageview');
    function affclicked(url){ga('send', 'dimension4', url);}
    //function affclicked(url){alert(typeof url);}
  </script>

  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=657727027595422";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kooleye.com</a>
	</div>
	<div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
	    <li><%= link_to "投票順", things_path + "?sort=hot" %></li>
	    <li><%= link_to "新着順", things_path %></li>
	    <li class="hidden-xs">
	      <%= link_to "アイテムの追加", new_thing_path -%>
	    </li>
          </ul>
	  <ul class="nav navbar-nav navbar-right">
	    <% if user_signed_in? -%>
              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		  <%= image_tag current_user.image, class: "nav-user-image" if not current_user.image.blank? %>
		  <%= username current_user -%><b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
		  <li>
		    <%= link_to edit_user_registration_path do %>
		      <%= fa_icon "gear", text: "設定" %>
		    <% end %>
		  </li>
		  <li>
		    <%= link_to user_page_path(current_user) do %>
		      <%= fa_icon "user", text: "マイページ" %>
		    <% end %>
		  </li>
		  <li>
		    <%= link_to destroy_user_session_path, method: :delete do %>
		      <%= fa_icon "power-off", text: "ログアウト" %>
		    <% end -%>
		  </li>
		</ul>
              </li>
	    <% else -%>
              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('shared.login') -%><b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li><%= link_to user_omniauth_authorize_path(:google_oauth2), id: "google-login" do fa_icon "google-plus-square", text: "| Connect with Google" end %> </li>
		  <li><%= link_to user_omniauth_authorize_path(:facebook), id: "facebook-login" do fa_icon "facebook-square", text: "| Connect with Facebook" end %> </li>
		  <li><%= link_to user_omniauth_authorize_path(:twitter), id: "twitter-login" do fa_icon "twitter", text: "| Connect with Twitter" end %> </li>
		  <li><%= link_to new_user_session_path do fa_icon "shield", text: "| Sign in with Kooleye ID" end %> </li>
		</ul>
              </li>
	    <% end -%>
          </ul>
	</div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <!-- Modal -->
    <%= render 'shared/login_modal' -%>

    <div class="container">
      <div class="ie-alert"></div>
      <div class="row">
	<%= render 'shared/sns' -%>
	<br />
	<%= render 'shared/email_input_modal' -%>

	<%= yield %>
      </div><!--/row-->
      <hr>
      <footer>
	<p>
	  &copy; kooleye.com 2013
	  <% About.all.each do |about| -%>
	    <small><%= link_to about.title, about_path(about) -%></small>
	  <% end -%>
	</p>
      </footer>
    </div><!--/.container-->
    <script type="text/javascript">
      (function () {
      var tagjs = document.createElement("script");
      var s = document.getElementsByTagName("script")[0];
      tagjs.async = true;
      tagjs.src = "//s.yjtag.jp/tag.js#site=0OC6rTW";
      s.parentNode.insertBefore(tagjs, s);
      }());
    </script>
    <noscript>
      <iframe src="//b.yjtag.jp/iframe?c=0OC6rTW" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </noscript>
  </body>
</html>
